{% extends 'layout.html' %}

{% block title %}Sobre aulas{% endblock %}

{% block content %}
    <h1>Sobre aulas</h1>
    
    <p>
        Nesta atividade, estamos utilizando o Flask, que é um micro-framework Python leve e flexível. O objetivo deste código é aplicar na prática os conceitos de rotas e renderização, mostrando como o Flask processa requisições web e entrega páginas HTML dinâmicas para o usuário de forma rápida.
    </p>

    <p>
        O foco principal desta estrutura é entender a herança de templates. Ao usarmos a tag <code>{% extends 'layout.html' %}</code>, estamos reaproveitando uma base visual pronta e modificando apenas o bloco de conteúdo principal. Isso nos ensina a programar de forma organizada, evitando a repetição desnecessária de código HTML.
    </p>
{% endblock %}
