{% extends 'layout.html' %}

{% block title %}Sobre ser estudante de TI{% endblock %}

{% block content %}
<div class="container py-5">
    <header class="mb-4">
        <h1 class="display-4 fw-bold text-primary">Sobre ser estudante de TI</h1>
    </header>
    
    <section class="lead text-secondary">
        <p>Ser estudante de TI é assumir o papel de um eterno aprendiz. Cada novo <em>framework</em> ou linguagem dominada não é apenas uma linha no currículo, mas a chave para construir o futuro e transformar a complexidade do código em soluções reais para o mundo.</p>
    </section>
</div>
{% endblock %}